    <!-- About Section -->
    <section id="about" class="container content-section text-algin:left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-4">
              <br/><br/>
              <h2 style = "font-size:2.5em">Program</h2>
              <p style = "font-size:1.5em">08. 21. 2019</p>
              <br/>
                <p style = "font-size:1.5em">14:00 - 14:10  Welcome</p>
                <p style = "font-size:1.5em">14:10 - 14:50  Helge Ritter</p>
                <p style = "font-size:1.5em">14:50 - 15:30  Ken Forbus</p>
                <p style = "font-size:1.5em">15:30 - 16:00  Coffee Break</p>
                <p style = "font-size:1.5em">16:00 - 16:40  Chen Yu</p>
                <p style = "font-size:1.5em">16:40 - 17:20  Kenji Doya</p>
                <p style = "font-size:1.5em">17:20 - 18:00  Panel Discussion: Brain, Mind & AI</p>
                <br/>
              </div>
        </div>
    </section>
