<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<h2>Venue</h2>
					<p> </p>
					<p style = "font-size:1.3em">Center for Teaching and Learning</p>
					<p style = "font-size:1.3em">Building #61, Seoul National University</p>
					<p style = "font-size:1.3em">1, Gwanak-ro, Gwanak-gu, Seoul, Republic of Korea 08826</p>
				</div>
				<div class="col-lg-6">
					<ul class="list-inline banner-social-buttons">
						{% for social in site.social %}
						<li>
							<a href="{{ social.url }}" class="btn btn-default btn-lg"> <span class="network-name">{{ social.title }}</span></a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->