<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!--<ul class="list-inline">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#table">Program</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">Speakers</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Venue</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>-->
                <h3>SPONSERS</h3>
                <h4>Ministry of Science and ICT, IITP, VTT, SNU Center for AI (SCAI)</h4>
            </div>
            <!--<div class="col-md-4">
                {{ site.credits }}
            </div>-->
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!--<div class="col-md-6">
                <p class="copyright text-muted small">{{ site.copyright }}</p>
                <p class="copyright text-muted small">{{ site.credits }}</p>
            </div>-->
            <div class="col-md-12">
                <p class="copyright text-muted small">{{ site.copyright }}&nbsp;&nbsp;{{ site.credits }}</p>
            </div>
        </div>
    </div>
</footer>
