<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--<ul class="list-inline">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#table">Program</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">Speakers</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Venue</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>-->
                <h3>SPONSORS</h3>
                <h3> </h3>
                <h4>Hosted by Seoul National University VIC (Video Intelligence Center) and SCAI (SNU Center for AI)</h4>
                <h4>Sponsored by Ministry of Science and ICT, IITP</h4>
                <img class="img-responsive" src="img/logo4.png" alt="">
            <!--<div class="col-md-4">
                <h3> </h3>
                <h4> </h4>
                <img class="img-responsive" src="img/logo3.png" alt="">
            </div>-->
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!--<div class="col-md-6">
                <p class="copyright text-muted small">{{ site.copyright }}</p>
                <p class="copyright text-muted small">{{ site.credits }}</p>
            </div>-->
            <div class="col-md-12">
                <p class="copyright text-muted small">{{ site.copyright }}&nbsp;&nbsp;{{ site.credits }}</p>
            </div>
        </div>
    </div>
</footer>
