<!-- registration -->
<registration>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>REGISTRATION</h2>
                <h4>Participation in the Global AI Summit is completely free of charge but pre-registration is required.</h4>
                <h4>Please follow <a href="http://k-ai.or.kr/kr/information/event.php" target="_blank">this link</a> to complete the registration form.</h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright text-muted small"> </p>
            </div>
        </div>
    </div>
</registration>
